h1 {
  float: left;
  color:white;
  background-color: #4aaaa5;
  font-size: 25px;
  text-align: center;
  width:20%;
  padding: 20px;
  margin-left: 10%;
  margin-bottom: 0;
  /*position:fixed;*/
}

.tab {
  margin-top: 20px;
  padding: 20px;
  width:50%;
  float: left;
  text-align: right;
  overflow: auto;
  /*background-color: green;*/
}

a {
  color:#777777;
}
a:active {
  color: #65c2bd;
}
a:hover{
  font-size: 20px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 90px;
  position: relative;
  /*background:#ffffff;
  color: #777777;*/
  background:url("contact_wallpaper.png");
  color:ivory;
  overflow: auto;
}

#box {
  width: 100%;
  background:url("box_wallpaper.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("box_wallpaper.jpg");
  overflow: auto;
  clear: both;  
}

#pic {
  float: left;
  margin: 20px;
  height:150px;
  width: 150px;
}

#logo {
  
  float: right;
  height:80px;
  width:130px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  padding: 10px;
  /*color: #777777;*/
  color:ivory;
}

h2 {
  color: #65c2bd;
  padding:15px;
  font-family: 'Times New Roman', Times, serif;
}

#portf{
  background:url("port_wallpaper.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("port_wallpaper.jpg");
  height: auto;
  padding-top: 15px;
  padding-bottom: 25px;
}

span{
  color: white;
  text-align: center;
}
span:hover{
  font-size: 20px;
}
*{
  box-sizing:border-box;
}
.row, .row > .column {
  padding:8px;
}
.column{
  float:left;
  width:30%;
  text-align: center;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.content{
  padding:10px;
  text-align: center;
}

#contactB {
  background:url("contact_wallpaper.png");
  color:ivory;
}

/*#footline {
  height: 8px;
  position: relative;
  background-color: #4aaaa5;
}*/

footer {
  position: relative;
  border-top: 10px #4aaaa5 solid;
  bottom: 0;
  width: 100%;
  background:#666666;
  color: #cccccc;
  padding-top: 35px;
  text-align: center;
}

#form1 {
  padding:30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

input[type=submit] {
  background-color:#4aaaa5;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#text {
  height: 30px;
}

#message {
  height: 200px;
}

td {
  margin: 20px;
  background-color: steelblue; 
}

figure{
  float: left;
  margin: 5%;
}

.port {
  /*float: left;*/
  margin: 20px;
  height:250px;
  width:250px;
}
.link{
  color:ivory;
  margin:10px;
}
.link:hover{
  font-size: 20px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  color:ivory;
  background-color: ivory;
}

@media screen and (max-width:980px) {
  .container{
    width:700px;
  }
  h1{
    width: 30%;
  }
  .tab {
    width:40%;
  }
  #pic {
    height: 200px;
    width: 200px;
  }
  .column{
    width:50%;
  }
}

@media screen and (max-width:768px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
    width:700px;
  }
  h1{
    width: 40%;
    margin-left: 5px;
  }
  .tab {
    width:40%;
  }
  
  #pic {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width:640px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
    width:500px;
  }
  #pic {
    height: 350px;
    width: 350px;
    float: none;
    padding-left: 50px;
  }
  h1{
    width: 550px;
    margin-left: 5px;
  }
  .column{
    width:100%;
  }
  .tab {
    width: 550px;;
    clear: both;
    text-align: center;
    font-size: 18px;
    overflow: auto;
    /*background-color: green;*/
  }
}