h1 {
  float: left;
  color:white;
  background-color: #4aaaa5;
  font-size: 25px;
  text-align: center;
  width:20%;
  padding: 20px;
  margin-left: 10%;
  margin-bottom: 0;
  /*position:fixed;*/
}

.tab {
  margin-top: 20px;
  padding: 20px;
  width:50%;
  float: left;
  text-align: right;
  overflow: auto;
  /*background-color: green;*/
}

a {
  color:#777777;
}

#box {
  width: 100%;
  background:#cccccc;
  overflow: auto;
  clear: both;  
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 90px;
  position: relative;
  background:#ffffff;
  color: #777777;
  overflow: auto;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

#pic {
  float: left;
  margin: 20px;
  height:150px;
  width: 150px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding: 10px;
  color: #777777;
}

h2 {
  color: #4aaaa5;
  padding:15px;
  font-family: 'Times New Roman', Times, serif;
}

/*#footline {
  height: 8px;
  position: relative;
  background-color: #4aaaa5;
}*/

footer {
  position: relative;
  border-top: 10px #4aaaa5 solid;
  bottom: 0;
  width: 100%;
  background:#666666;
  color: #cccccc;
  padding-top: 35px;
  text-align: center;
}

#form1 {
  padding:30px;
  font-family: 'Times New Roman', Times, serif;
}

input[type=submit] {
  background-color:#4aaaa5;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#text {
  height: 30px;
}

#message {
  height: 200px;
}

td {
  margin: 20px;
  background-color: steelblue; 
}

figure{
  float: left;
  margin: 5%;
}

.port {
  float: left;
  margin: 20px;
  height:250px;
  width:250px;
}

figcaption{
  background-color: #4aaaa5;
  color:white;
  width:90px;
  height: 35px;
  margin-top: 270px;
  margin-left: 5%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  padding-left: 85px;
  padding-right: 85px;
  position:relative;
}

@media screen and (max-width:980px) {
  .container{
    width:700px;
  }
  h1{
    width: 30%;
  }
  .tab {
    width:40%;
  }
  #pic {
    height: 200px;
    width: 200px;
  }
  .port {
    float: left;
    height:200px;
    width:200px;
  }
  figcaption{
    background-color: #4aaaa5;
    color:white;
    width:135px;
    height: 30px;
    margin-top: 220px;
    margin-left: 7%;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    position:relative;
  }
}

@media screen and (max-width:768px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
    width:700px;
  }
  h1{
    width: 40%;
    margin-left: 5px;
  }
  .tab {
    width:40%;
  }
  .port {
    float: left;
    height:200px;
    width:200px;
  }
  figcaption{
    background-color: #4aaaa5;
    color:white;
    width:135px;
    height: 30px;
    margin-top: 220px;
    margin-left: 7%;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    position:relative;
  }

  #pic {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width:640px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
    width:500px;
  }
  #pic {
    height: 350px;
    width: 350px;
    float: none;
    padding-left: 50px;
  }
  h1{
    width: 550px;
    margin-left: 5px;
  }
  h2{
    text-align: center;
    font-size: 22px;
  }
  .tab {
    width: 550px;;
    clear: both;
    text-align: center;
    font-size: 18px;
    overflow: auto;
    /*background-color: green;*/
  }
}